@font-face {
    font-family: "Gilroy-Bold";
    src: local("Gilroy-Bold"), 
            url("../fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
  }

  /* @font-face {
    font-family: Gilroy-Light;
    src: url(../fonts/gilroy/Gilroy-Light.ttf);
  }

  @font-face {
    font-family: Gilroy-Medium;
    src: url(../fonts/gilroy/Gilroy-Medium.ttf);
  }

  @font-face {
    font-family: Gilroy-Regular;
    src: url(../fonts/gilroy/Gilroy-Regular.ttf);
  } */

body{
    font-family: Gilroy-Bold;
}
