@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"), 
          url("./assets/fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "GilroyMedium";
  src: local("GilroyMedium"), 
  url("./assets/fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
font-weight: medium;
}

/* @font-face {
  font-family: Gilroy-Light;
  src: url(../fonts/gilroy/Gilroy-Light.ttf);
}

@font-face {
  font-family: Gilroy-Regular;
  src: url(../fonts/gilroy/Gilroy-Regular.ttf);
} */

/* h2{
  font-family: GilroyBold;
} */

h2,
h3,
h4,
p{
  font-family: GilroyMedium;
}

.font{
  font-family: GilroyMedium;
}
